@import url('https://fonts.googleapis.com/css2?family=Ichiji+Two&family=Nunito&display=swap');


h1, h2 {
  font-family: 'Ichiji Two', cursive;
}

p, ul, li, a, i{
  font-family: 'Nunito', sans-serif;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
html {
    scroll-behavior: smooth;
  }
  
a {
    text-decoration: none;
  }
  
  /* Barra de navegación */
  
#mainheader {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    transition: 0.6s;
    padding: 30px 20px;
    background-color: #003787;
    height: 100px;
  }
  
.contenedor-logo {
    margin-left: 10px;
    align-items: center;
    margin-top: 0px;
  }
  
.img-logo {
    height: 80px;
    width: 80px;
  }
  
.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    position: absolute;
    top: 23px;
    background-color: orange;
    transition: 0.5s;
    left: 0;
  }
  
.navbar ul li:hover::after {
    width: 100%;
  }
  
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
#mainheader ul {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 15px;
  }
  
#mainheader ul li {
    list-style: none;
  }
  
#mainheader ul li a {
    text-decoration: none;
    color: #ffff;
    transition: 0.7s;
    position: relative;
    margin: 0 17px;
    letter-spacing: 1px;
    font-size: 20px;
    text-transform: uppercase;
  }
  
#mainheader .logo-navbar {
    position: relative;
    color: #ffff;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 1.0s;
    font-size: 22px;
    margin-top: 15px;
    text-transform: uppercase;
  }
  
  /* CÓDIGO REUTILIZABLE */
  
.container {
    overflow: auto;
    margin: auto;
    padding: 0 30px;
    max-width: 1500px;
  }
  
.container-3 {
    overflow: auto;
    margin: auto;
    padding: 0 30px;
    max-width: 1460px;
  }
  
  /* PRIMERA PARTE DE LA PÁGINA (INICIO) */
  
#page-inicio {
    display: flex;
    width: 100%;
    height: 690px;
    background-size: repeat;
    margin-top: 0px;
    margin-bottom: 100px;
  }
  
#video-principal1 {
    right: 0;
    bottom: 0;
    width: 500%;
    height: 115%;
    margin-top: 15px;
  }
  
  /* SEGUNDA PARTE DE LA PÁGINA (SECCION CARTAS 1) */
  
#about {
    margin-bottom: 60px;
    margin: 30px;
    margin-top: 100px;
  }
  
.page-about {
    margin-top: 170px;
  }
  
#about h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 22px;
  }
  
#about p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-top: 40px;
  }
  
.about1 p {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  /*------------------------------------*/
  
.about2 {
    float: left;
    padding-top: 45px;
    margin-bottom: 100px;
  }
  
.about2 h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }
  
  /* primera edicion de los iconos PRIMERO */
  
.about2-cards {
    display: block;
    margin-top: 50px;
  }
  
.card1-item1 {
    padding: 10px;
  }
  
.card1-item1 a {
    font-size: 25px;
    text-transform: uppercase;
    color: #000000;
  }
  
.card1-item1 a i {
    color: orange;
    margin-right: 20px;
    cursor: default;
  }
  
  /* CAMBIA EL TIPO DE LETRA DE LA SECCIÓN "QUIENES SOMOS" */
#about .parrafo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  
  /* PRIMERA PARTE DE LA PÁGINA ( SECCION CARTAS 2) */
.about3 {
    float: right;
    padding-top: 45px;
    margin-bottom: 100px;
  }
  
.about3 h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }
  
.about3 p {
    font-size: 80px;
    margin-top: 10px;
    float: left;
  }
  
  /* segunda edicion de los iconos SEGUNDA */
  
.about3-cards {
    display: block;
    margin-top: 150px;
  }
  
.card2-item1 {
    padding: 10px;
  }
  
.card2-item1 a {
    font-size: 25px;
    text-transform: uppercase;
    color: #000000;
  }
  
.card2-item1 a i {
    color: orange;
    margin-right: 20px;
    cursor: default;
  }
  
  /* TERCERA PARTE DE LA PÁGINA */


#mision {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding-top: 80px;
}

.fondo-mision{
  display: flex;
  margin-top: 110px;
}

#mision h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  color: #333;
  text-transform: uppercase;
}

#mision p {
  font-size: 33px;

  margin-top: 10px;
}

.contenedor-mision {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 260px;
  
}

.contenedor-mision h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}


.mision1 {
  flex-grow: 1;
  margin-right: 100px;
  margin-top: 0px;
  
}

.figura{
  background-color: orange;
  border: #333 solid 1px;
  border-radius: 14% 86% 12% 88% / 60% 39% 61% 40% ;
  padding: 120px;
}


.mision2 img {
  width: 480px;
  height: 420px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease;
}

.mision2 img:hover {
  transform: screen(0.9);
} 






  /* CUARTA PARTE DE LA PÁGINA */
  
#beneficio {
    margin-top: 10px;
    padding-top: 70px;
    margin-bottom: 50px;
  }
  
.container2 {
    overflow: auto;
    margin: auto;
    padding: 0 30px;
    max-width: 1600px;
    height: 730px;

  }
  
.container2 h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding-top: 50px;
    text-transform: uppercase;
    font-size: 34px;
  }
  
.beneficio2 {
    display: flex;
    padding-top: 25px;
    justify-content: center;
    align-items: center;
  }
  
.bene-card {
    width: 25%;
    height: 500px;
    border-radius: 6px;
    overflow: hidden;
    margin: 20px;
    box-sizing: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    background-color: #ffff;
    border: 1px solid #6a6a6a;
  }
  
.bene-card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transition: translateX(-3%);
  }
  
.bene-card img {
    width: 100%;
    height: 300px;
    border-radius: 1%;
  }
  
.bene-card .beneficio2 {
    padding: 15px;
    text-align: center;
  }
  
.beneficio2 .bene-card p {
    line-height: 1.5;
    font-size: 23px;
    padding-top: 16px;
    padding: 24px;
  }
  
  /* EL FOOTER */
  
footer {
    background-color: #000000;
    color: #fff;
    padding: 42px;
    padding-bottom: 35px;
    text-align: center;
  }
  
.footer-container {
    display: block;
  }
  
.social-icons {
    margin-top: 30px;
  }
  
.social-icons a {
    color: #fff;
    font-size: 37px;
    text-decoration: none;
    padding: 16px;
  }
  
.social-icons a :hover {
    color: orange;
  }
  
.info {
    margin-top: 10px;
  }
  
.info p {
    margin: 5px 200px;
    font-size: 19px;
    padding: 6px;
  }
  
  
  
@media only screen and (max-width: 1024px) {
    /* Estilos para tablet */
    
    #mainheader {
        padding: 15px;
    }
  
    #mainheader .logo-navbar {

        font-size: 20px;
        margin-top: 10px;
    }
  
    #mainheader ul li a {
        font-size: 16px;
        margin: 0 10px;
    }
  
    #about {
        margin-top: 150px;
    }
  
    .page-about {
        margin-top: 100px;
    }
  
    .about2,
    .about3 {
        
        padding-top: 0;
        float: left;
    }
  
    .about2-cards,
    .about3-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
    }
  
    .card1-item1,
    .card2-item1 {
        width: 100%;
        padding: 10px;
    }
  
    .card1-item1 a,
    .card2-item1 a {
        font-size: 18px;
    }
  
    #beneficio {
        padding-top: 50px;
    }
  
    .container2 {
        height: auto;
    }
  
    .bene-card {
        width: 45%;
        height: auto;
        margin: 20px auto;
    }#mision {
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      padding-top: 80px;
    }
    
    .fondo-mision{
      display: flex;
      margin-top: 110px;
    }
    
    #mision h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 35px;
      color: #333;
      text-transform: uppercase;
    }
    
    #mision p {
      font-size: 33px;
    
      margin-top: 10px;
    }
    
    .contenedor-mision {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      margin-bottom: 260px;
      
    }
    
    .contenedor-mision h1 {
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
    }
    
    
    .mision1 {
      flex-grow: 1;
      margin-right: 100px;
      margin-top: 0px;
      
    }
    
    .figura{
      background-color: orange;
      border: #333 solid 1px;
      border-radius: 10% 43% 6% 22% / 30% 25% 28% 20% ;
      padding: 120px;
    }
    
    
    .mision2 img {
      width: 2400px;
      height: 210px;
    
    }
    
  
    
  
    footer {
        padding: 20px;
    }
  }
  
  @media only screen and (max-width: 768px) {

    /* Estilos para dispositivos móviles */
    
    #mainheader {
        padding: 15px;
    }
  
    #mainheader .logo-navbar {
        font-size: 18px;
        margin-top: 10px;
    }
  
    #mainheader ul li a {
        font-size: 14px;
        margin: 0 8px;
    }
  
    #about {
        margin-top: 100px;
    }
  
    .page-about {
        margin-top: 80px;
    }
  
    .about2,
    .about3 {
        padding-top: 0;
        float: left;
    }
  
    .about2-cards,
    .about3-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
    }
  
    .card1-item1,
    .card2-item1 {
        width: 100%;
        padding: 10px;
    }
  
    .card1-item1 a,
    .card2-item1 a {
        font-size: 16px;
    }
  
    #beneficio {
        padding-top: 50px;
    }
  
    .container2 {
        height: auto;
    }
  
    .bene-card {
        width: 80%;
        height: auto;
        margin: 20px auto;
    }
  
    footer {
        padding: 20px;
    }
  }
  